%% -*- erlang -*-
{deps, 
 [{'erl_tools', ".*", {git, "git://github.com/zwizwa/erl_tools.git",  {tag, "master"}}}
 ]}. 

{erl_opts, [debug_info]}.

%% FIXME: This is handled differently in exo, and it broke here.

%% {pre_hooks,
%%   [{"(linux|darwin|solaris)", compile, "make -C c_src"},
%%    {"(freebsd)", compile, "gmake -C c_src"}]}.
%% {post_hooks,
%%   [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
%%    {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{dialyzer,
  [{warnings, [
  unmatched_returns, 
  error_handling]}]}.
